<div class="dropdown">
    <button class="dropdown-button">Seleccione un reloj</button>
    <div class="dropdown-content">
      <button (click)="onSelectView('normal')">Reloj Normal</button>
      <button (click)="onSelectView('solar')">Reloj Solar</button>
      <button (click)="onSelectView('flower-clock')">Reloj de Flor</button>
      <button (click)="onSelectView('digital-clock')">Reloj Digital</button>
      <button (click)="onSelectView('astronomic-clock')">Reloj Astronómico</button>
      <button (click)="onSelectView('graphic-clock')">Reloj Gráfico</button>
      <button (click)="onSelectView('circle-clock')">Reloj Circular</button>
      <button (click)="onSelectView('color-clock')">Reloj de Colores</button>
      <button (click)="onSelectView('wave-clock')">Reloj de Ondas</button>
      <button (click)="onSelectView('liquid-clock')">Reloj Líquido</button>
    </div>
  </div>
  