<div class="liquid-clock">
  <!-- Reloj digital -->
  <div class="digital-clock">
    <span class="time">{{ getFormattedTime(hours) }}</span>:<span class="time">{{ getFormattedTime(minutes) }}</span>:<span class="time">{{ getFormattedTime(seconds) }}</span>
  </div>

  <!-- Contenedor de la parte fluida -->
  <div class="liquid-container">
    <!-- Fluido de la hora -->
    <div class="liquid-label">Hora</div>
    <div class="liquid hour" [style.height]="(hours % 12) * 8 + '%'"></div>

    <!-- Fluido de los minutos -->
    <div class="liquid-label">Minutos</div>
    <div class="liquid minute" [style.height]="(minutes / 60) * 100 + '%'"></div>

    <!-- Fluido de los segundos -->
    <div class="liquid-label">Segundos</div>
    <div class="liquid second" [style.height]="(seconds / 60) * 100 + '%'"></div>
  </div>
</div>
