<!-- Mostrar formulario de inicio de sesión si no está autenticado -->
<app-login *ngIf="!isAuthenticated"></app-login>  

<!-- Mostrar la bienvenida solo si no hay vista seleccionada y el usuario está autenticado -->
<div class="welcome-container" *ngIf="isAuthenticated && !selectedView">
  <h1>Bienvenido a las Vistas de Reloj</h1>
  <p>Selecciona un reloj desde el menú para verlo.</p>
</div>

<div class="app-container" *ngIf="isAuthenticated">

  <div class="left-panel">
    <app-dropdown (viewSelected)="selectView($event)"></app-dropdown>
  </div>

  <!-- Vista de los relojes -->
  <div class="clock-view">
    <!-- Mostrar los relojes dependiendo de la selección -->
    <div *ngIf="selectedView === 'normal'">
      <normal-clock></normal-clock>
    </div>

    <div *ngIf="selectedView === 'solar'">
      <solar-clock></solar-clock>
    </div>

    <div *ngIf="selectedView === 'flower-clock'">
      <flower-clock></flower-clock>
    </div>

    <div *ngIf="selectedView === 'digital-clock'">
      <digital-clock></digital-clock>
    </div>

    <div *ngIf="selectedView === 'astronomic-clock'">
      <astronomic-clock></astronomic-clock>
    </div>

    <div *ngIf="selectedView === 'graphic-clock'">
      <graphic-clock></graphic-clock>
    </div>

    <div *ngIf="selectedView === 'circle-clock'">
      <circle-clock></circle-clock>
    </div>

    <div *ngIf="selectedView === 'color-clock'">
      <color-clock></color-clock>
    </div>

    <div *ngIf="selectedView === 'wave-clock'">
      <wave-clock></wave-clock>
    </div>

    <div *ngIf="selectedView === 'liquid-clock'">
      <liquid-clock></liquid-clock>
    </div>
  </div>
</div>
